@model PersonalWebsite.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Experience -->
<h1 class="display-4">Experience</h1>

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var epxs in Model.Experiences)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <img src="@epxs.CompanyLogoUrl" class="card-img-top p-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@epxs.CompanyName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@epxs.StartDate.ToString("dd.MM.yyyy") - @epxs.EndDate.ToString("dd.MM.yyyy")</h6>
                    <p class="card-text">@epxs.JobDescription</p>
                </div>

                <div class="card-footer">
                    <a href="@epxs.WebsiteUrl" class="btn btn-primary">Website</a>
                </div>
            </div>
        </div> 
    }
</div>


<!-- Projects -->
<h1 class="display-4">Projects</h1>
<p>More information on <a href="https://github.com/AlexGipp" target="_blank">Github</a>.</p>

<div class="row row-cols-1 row-cols-md-2">
    @foreach (var repo in Model.Repos)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">@repo.Name</h4>
                    <h6 class="card-subtitle mb-2 text-muted">@repo.CreatedAt.Date.ToString("dd.MM.yyyy")</h6>
                    <p class="card-text">@repo.Description</p>
                </div>
                <div class="card-footer">
                    <a href="@repo.HtmlUrl" target="_blank" class="card-link">Github</a>
                </div>
            </div>
        </div>
    }
</div>

<!-- Contact -->
<div class="jumbotron">
    <h1 class="display-4">Contact</h1>
    <p class="lead">If you want to reach out to me for any sort of inquiry, be it formal or not, email is usually the best way to do that.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-6 align-items-center">
            <form class="align-items-center">
                <div class="form-group">
                    <label for="nameInput">Name:</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="Hans Meier">

                    <label for="emailInput">Email address:</label>
                    <input type="email" class="form-control" id="emailInput" placeholder="name@email.com">
                </div>
                <div class="form-group">
                    <label for="messageInput">Message:</label>
                    <textarea class="form-control" id="messageInput" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Send</button>
            </form>
        </div>
    </div>
</div>